// Place your apps css here

// fonts
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope);

// variables
$em-normalize-ratio: 62.5%;

// mixins
@mixin btn-on-center {
  text-align: center;
}

@mixin fadein-animation {
  from {
    color: yellow;
    font-size: 0vw;
    opacity: 0;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    color: yellow;
    //font-size: 20.0rem;
    font-size: 18vw;
  }
  75% {
    color: yellow;
    //font-size: 20.0rem;
    font-size: 18vw;
  }
  to {
    color: white;
    opacity: 1.0;
  }
}

@mixin snow-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position:500px 500px;
  }
}

html {
  font-size: $em-normalize-ratio;
}

body {
  background-color: black;
  background-image: url('/assets/images/background.png');
  font-family: Lato, 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1.8rem;
  color: white;
}

.header {
  margin-bottom: 6.0rem;
  border: none;

  h1.title {
    font-family: 'Annie Use Your Telescope', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 6.5rem;
    color: white;
    text-shadow: 0 0 20px yellow;
    text-align: center;
    margin-top: 2.0rem;
  }
}

.add-person-form {
  @include btn-on-center;

  input {
    width: 100%;
    margin: 0 auto;
    font-size: 1.6rem;
  }
}

.persons-wrapper {
  margin-top: 4.0rem;

  .persons {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('/assets/images/powered-by-volt.png');
    background-position: center center; 
    background-repeat: no-repeat;
    //height: 19.0rem;
    height: 200px;
    line-height: 5.0rem;
    overflow: scroll;
    padding: 1.0rem 1.5rem;
  }

  .remove-btn {
    font-size: 1.0rem;
    margin-left: .5rem;
    padding: .2rem .5rem;
  }
}

.pick-up-form {
  @include btn-on-center;
  margin-top: 4.0rem;
}

.pick-up-btn {
  font-size: 2.0rem;
  padding: 2.0rem 2.0rem;
  width: 100%;
}

.clear-history-form {
  margin-top: 4.0rem;
  float: right;
}

.toggle-history-form {
  @extend .clear-history-form;
  margin-right: 1.2rem;
}

.footer {
  font-size: 1.6rem;
  margin-top: 6.0rem;
}

#modal-content {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 10px 20px;
  position: fixed;
  z-index: 2;
  text-align: center;
  //font-size: 14.0rem;
  font-size: 14vw;
  text-shadow: 0 0 20px yellow;
  font-family: 'Annie Use Your Telescope', 'Helvetica Neue', 'Arial', sans-serif;
}
  
#modal-overlay {
  overflow: hidden;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-image: url('/assets/images/snow.png');
  background-color: rgba(0, 0, 0, 0.8);
  animation: snow 30s linear infinite;
  -moz-animation: snow 30s linear infinite;
  -webkit-animation: snow 30s linear infinite;
  cursor: pointer;
}

#info-message {
  font-size: 2.0rem;
  color: #aaa;
  padding-top: 3.0rem;
  padding-left: 5.0rem;
}

#spotlight-person {
  -webkit-animation-name: fadein;
  -webkit-animation-duration: 8s;
  -moz-animation-name: fadein;
  -moz-animation-duration: 8s;
  -ms-animation-name: fadein;
  -ms-animation-duration: 8s;
}

@-webkit-keyframes fadein {
  @include fadein-animation
}

@-moz-keyframes fadein {
  @include fadein-animation
}

@-ms-keyframes fadein {
  @include fadein-animation
}

@keyframes fadein {
  @include fadein-animation
}

@keyframes snow {
  @include snow-animation
}

@-moz-keyframes snow {
  @include snow-animation
}

@-webkit-keyframes snow {
  @include snow-animation
}

.history-wrapper {
  margin-top: 4.0rem;

  .history {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('/assets/images/powered-by-volt.png');
    background-position: center center; 
    background-repeat: no-repeat;
    //height: 19.0rem;
    height: 200px;
    line-height: 5.0rem;
    overflow: scroll;
    padding: 1.0rem 1.5rem;
  }
}

.footer {
  text-align: center;
  font-size: 1.4rem;
}