<:Title>
  Lightning Picker

<:Body>
  <div class="row">
    <div class="col-xs-18 col-md-12">
      <h1 class="title">Lightning Picker</h1>
      <form e-submit="add_person" class="add-person-form" role="form">
        <input class="form-control span2" type="text" placeholder="Input name and press enter" value="{{ page._new_person }}" />
      </form>
      <ul class="list-inline persons">
        {{ page._persons.each do |person| }}
          <li>{{ person._name }}<button e-click="remove_person(person)" class="btn btn-warning remove-btn">X</button></li>
        {{ end }}
      </ul>
      <form e-submit="pick_up" class="pick-up-form" role="form">
        <button type="submit" class="btn btn-primary btn-lg pick-up-btn">Ready? Let's pick someone!</button>
      </form>
      <form e-submit="view_history" class="view-history-form" role="form">
        <button type="submit" class="btn btn-info">View history</button>
      </form>
      <form e-submit="clear_history" class="clear-history-form" role="form">
        <button type="submit" class="btn btn-warning">Clear history</button>
      </form>
    </div>
    {{ if page._display_result }}
      <div id="result-wrap" e-click="hide_result">
        <div id="result">
          {{ page._spotlight }}
        </div>
        <div id="info-message">
          Click to close
        </div>
      </div>
    {{ end }}
  </div>
